:root {
  --primary: #110531;
  --secondary: #fd9845;
  --error: #ff4a4a;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  margin-top: 10px;
  height: 3px;
  background: var(--primary);
}

.template {
  min-width: 80vw;
  min-height: 30vh;
  max-width: 80vw;
  margin: 30px;
}

form {
  margin: 20px auto 50px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  position: relative;
}
span::before:hover,
span::after:hover {
  background: var(--primary);
  color: white;
}

span {
  position: relative;
}

span::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  transform: translateX(-50%);
}
span::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  transform: translateX(-50%) rotate(90deg);
}

.title {
  color: var(--primary);
  font-family: cursive;
}

.img-div {
  display: flex;
  flex-direction: column;
}
